# Pymaceuticals Inc.
---

### Analysis

- Analysis

In [1]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

#Data files
mouse_path = "data/Mouse_metadata.csv"
study_path = "data/Study_results.csv"

#Read the .csv files
mouse_metadata = pd.read_csv(mouse_path)
study_results = pd.read_csv(study_path)

#Merge the .csv files into one DataFrame
merged_df = pd.merge(study_results,mouse_metadata,how="left",on="Mouse ID")

#Display the first five rows of the DataFrame
merged_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [2]:
#Count the number of unique mice
merged_df["Mouse ID"].nunique()

249

In [3]:
#Get unique Mouse IDs from rows where Mouse ID and Timepoint pairs are duplicated
dupes = merged_df[merged_df.duplicated(['Mouse ID','Timepoint'])]["Mouse ID"].unique()
dupes

array(['g989'], dtype=object)

In [4]:
#Display all data for the duplicate Mouse ID
dupes_df = merged_df.loc[merged_df["Mouse ID"]==dupes.item(),:]
dupes_df

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
107,g989,0,45.000000,0,Propriva,Female,21,26
137,g989,0,45.000000,0,Propriva,Female,21,26
329,g989,5,48.786801,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
620,g989,10,51.745156,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
815,g989,15,51.325852,1,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
950,g989,20,55.326122,1,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26
1195,g989,25,56.045564,1,Propriva,Female,21,26
1380,g989,30,59.082294,1,Propriva,Female,21,26
1592,g989,35,62.570880,2,Propriva,Female,21,26

In [5]:
#Create new DataFrame by dropping all rows with the duplicate Mouse ID
clean_df = merged_df.drop(dupes_df.index)

#Display the first 5 rows of the new DataFrame
clean_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [6]:
#Count the number of unique mice in the new DataFrame
clean_df["Mouse ID"].nunique()

248

## Summary Statistics

In [7]:
#Group data by drug regimen
regimens = clean_df.groupby("Drug Regimen")

#Calculate summary statistics for the tumor volume
#mean, median, variance, standard deviation, standard error of means (SEM)
mean = regimens.mean()["Tumor Volume (mm3)"]
med = regimens.median()["Tumor Volume (mm3)"]
var = regimens.var()["Tumor Volume (mm3)"]
std = regimens.std()["Tumor Volume (mm3)"]
sem = regimens.sem()["Tumor Volume (mm3)"]

#Assemble the DataFrame
summary = pd.DataFrame({"Mean Tumor Volume":mean,
                        "Median Tumor Volume":med,
                        "Tumor Volume Variance":var,
                        "Tumor Volume Std. Dev.":std,
                        "Tumor Volume Std. Err.":sem})

#Display the DataFrame
summary

,Mean Tumor Volume,Median Tumor Volume,Tumor Volume Variance,Tumor Volume Std. Dev.,Tumor Volume Std. Err.
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.320930,50.446266,43.852013,6.622085,0.544332
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

In [8]:
#Reproduce the same summary statistics DataFrame in a single line of code using aggregation
summary_agg_df = regimens.aggregate(["mean","median","var","std","sem"])["Tumor Volume (mm3)"]\
                  .style.set_caption("Tumor Volume (mm3)")
summary_agg_df