# Pymaceuticals Inc.
---

### Analysis

- Analysis

In [1]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

#Data files
mouse_path = "data/Mouse_metadata.csv"
study_path = "data/Study_results.csv"

#Read the .csv files
mouse_metadata = pd.read_csv(mouse_path)
study_results = pd.read_csv(study_path)

#Merge the .csv files into one DataFrame
merged_df = pd.merge(study_results,mouse_metadata,how="left",on="Mouse ID")

#Display the DataFrame
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1893 entries, 0 to 1892
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mouse ID            1893 non-null   object
 1   Timepoint           1893 non-null   int64
 2   Tumor Volume (mm3)  1893 non-null   float64
 3   Metastatic Sites    1893 non-null   int64
 4   Drug Regimen        1893 non-null   object
 5   Sex                 1893 non-null   object
 6   Age_months          1893 non-null   int64
 7   Weight (g)          1893 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 133.1+ KB

In [2]:
#Count the number of unique mice
merged_df["Mouse ID"].nunique()

249

In [3]:
#Get unique Mouse IDs from rows where Mouse ID and Timepoint pairs are duplicated
dupes = merged_df[merged_df.duplicated(['Mouse ID','Timepoint'])]["Mouse ID"].unique()
dupes

array(['g989'], dtype=object)

In [4]:
#Display all data for the duplicate Mouse ID
dupes_df = merged_df.loc[merged_df["Mouse ID"]==dupes.item(),:]
dupes_df

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
107,g989,0,45.000000,0,Propriva,Female,21,26
137,g989,0,45.000000,0,Propriva,Female,21,26
329,g989,5,48.786801,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
620,g989,10,51.745156,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
815,g989,15,51.325852,1,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
950,g989,20,55.326122,1,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26
1195,g989,25,56.045564,1,Propriva,Female,21,26
1380,g989,30,59.082294,1,Propriva,Female,21,26
1592,g989,35,62.570880,2,Propriva,Female,21,26

In [5]:
#Create new DataFrame by dropping all rows with the duplicate Mouse ID
clean_df = merged_df.drop(dupes_df.index)

In [6]:
#Count the number of unique mice in the new DataFrame
clean_df["Mouse ID"].nunique()

248